.App {
  text-align: center;
}



.App-header {
  background-image: url("https://aiminds.page/images/backgrounds/banner.jpg");
  background-color: #35458d8e;
  background-blend-mode: multiply;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


